parameters:
    level: max
    paths:
        - ../src
    excludePaths:
        - ../tests
    reportUnmatchedIgnoredErrors: true

    # Typing and strictness
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: true

    # Signature and type checks
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkExplicitMixedMissingReturn: true
    checkBenevolentUnionTypes: true
    reportMaybesInMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true
    reportStaticMethodSignatures: true

    # PHPDoc checks
    reportWrongPhpDocTypeInVarTag: true
    reportAlwaysTrueInLastCondition: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true

    # Purity assumptions
    rememberPossiblyImpureFunctionValues: false

    # Scope pollution control
    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false

    ignoreErrors:
        # Ignore FormAPI related errors
        - '#Instantiated class jojoe77777\\FormAPI\\CustomForm not found\.#'
        - '#Call to method .*\(\) on an unknown class jojoe77777\\FormAPI\\CustomForm\.#'
        - '#Parameter #1 $form of method pocketmine\player\Player::sendForm() expects pocketmine\form\Form, jojoe77777\FormAPI\CustomForm given.#'
